/IEP_0.0.1/nbproject/private/
/CompositeQoS/nbproject/private/
/IEP_0.0.1/build/
/CompositeQoS/build/
/CompositeQoS/src/jbiServiceUnits/
/CompositeQoS/dist/
/CompositeQoS/test/results/
/IepFinal/nbproject/private/
/IepFinal/build/
/CompositeFinal/nbproject/private/
/CompositeFinal/src/jbiServiceUnits/
/CompositeFinal/build/
/CompositeFinal/dist/
/CompositeFinal/test/results/
/IepModule2/nbproject/private/
/IepModule2/build/
/CompositeApp1/nbproject/private/
/CompositeApp1/build/
/CompositeApp1/src/jbiServiceUnits/
/CompositeApp1/dist/
/CompositeApp1/test/results/
/IepModulePresta_TableOnline/nbproject/private/
/CompositeF/nbproject/private/
/IepModulePresta_TableOnline/build/
/CompositeF/src/jbiServiceUnits/
/CompositeF/build/
/CompositeF/dist/
/CompositeF/test/results/
/IepModuleBirthday/nbproject/private/
/IepModuleNumber/nbproject/private/
/CompositeAchat/nbproject/private/
/CompositeAchat/build/
/CompositeAchat/src/jbiServiceUnits/
/IepModuleNumber/build/
/CompositeAchat/dist/
/CompositeAchat/test/results/